{
    "openapi": "3.0.0",
    "info": {
        "title": "API Gestión de Vehículos",
        "description": "API RESTful para gestionar marcas de vehículos, personas y su relación de propiedad con vehículos. Incluye operaciones CRUD completas y endpoints de relaciones.",
        "contact": {
            "email": "dumar.pabon@gmail.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Servidor de la API"
        }
    ],
    "paths": {
        "/api/marcas": {
            "get": {
                "tags": [
                    "Marcas"
                ],
                "summary": "Lista todas las marcas",
                "description": "Lista todas las marcas.",
                "operationId": "cdf1f15837825105957dc1b6581c9377",
                "parameters": [
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Número de registros a saltar",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Número máximo de registros a retornar",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de marcas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Marca"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Marcas"
                ],
                "summary": "Crea una nueva marca",
                "description": "Crea una nueva marca.",
                "operationId": "011cfb0f49c0cd34dc812d3c5e40e41f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MarcaCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Marca creada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Marca"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                }
            }
        },
        "/api/marcas/{id}": {
            "get": {
                "tags": [
                    "Marcas"
                ],
                "summary": "Obtiene una marca por ID",
                "description": "Muestra una marca específica.",
                "operationId": "f044df503607a332772744171e7aebcc",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Marca encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Marca"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Marca no encontrada"
                    }
                }
            },
            "put": {
                "tags": [
                    "Marcas"
                ],
                "summary": "Actualiza una marca",
                "description": "Actualiza una marca.",
                "operationId": "34d9e20c71578f8affd3a8a0c877d47c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MarcaUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Marca actualizada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Marca"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Marca no encontrada"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Marcas"
                ],
                "summary": "Elimina una marca",
                "description": "Elimina una marca.",
                "operationId": "a11c924f91478a8599debeaa76b10428",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Marca eliminada exitosamente"
                    },
                    "404": {
                        "description": "Marca no encontrada"
                    }
                }
            }
        },
        "/api/personas": {
            "get": {
                "tags": [
                    "Personas"
                ],
                "summary": "Lista todas las personas",
                "operationId": "19153d93fbbf375afea8d2a21f70831b",
                "responses": {
                    "200": {
                        "description": "Lista de personas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Persona"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Personas"
                ],
                "summary": "Crea una nueva persona",
                "operationId": "b76ce2b01c2e821292fac2c4cddb74ee",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PersonaCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Persona creada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Persona"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                }
            }
        },
        "/api/personas/{id}": {
            "get": {
                "tags": [
                    "Personas"
                ],
                "summary": "Obtiene una persona por ID",
                "operationId": "9ae93a77b50e534e16e3a4aded57564d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Persona encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Persona"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Persona no encontrada"
                    }
                }
            },
            "put": {
                "tags": [
                    "Personas"
                ],
                "summary": "Actualiza una persona",
                "operationId": "a4370a9476fe98f54efa656fbddd395b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PersonaUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Persona actualizada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Persona"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Persona no encontrada"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Personas"
                ],
                "summary": "Elimina una persona",
                "operationId": "65acb26d6a487dcc8cb74f199a297fe0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Persona eliminada exitosamente"
                    },
                    "404": {
                        "description": "Persona no encontrada"
                    }
                }
            }
        },
        "/api/personas/{id}/vehiculos": {
            "get": {
                "tags": [
                    "Personas"
                ],
                "summary": "Obtiene los vehículos de una persona",
                "operationId": "d6d8e49339a4a0393c50865a60b3f053",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de vehículos de la persona",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Vehiculo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Persona no encontrada"
                    }
                }
            }
        },
        "/api/vehiculos": {
            "get": {
                "tags": [
                    "Vehículos"
                ],
                "summary": "Lista todos los vehículos",
                "operationId": "b912521b0e41dec60b1fd4d98a0e06fe",
                "responses": {
                    "200": {
                        "description": "Lista de vehículos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Vehiculo"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Vehículos"
                ],
                "summary": "Crea un nuevo vehículo",
                "operationId": "20a2f18df869f0d5e7d5ddce18285c29",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VehiculoCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Vehículo creado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Vehiculo"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                }
            }
        },
        "/api/vehiculos/{id}": {
            "get": {
                "tags": [
                    "Vehículos"
                ],
                "summary": "Obtiene un vehículo por ID",
                "operationId": "e7cea4106c3b515e1fd8f8fc20a01096",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vehículo encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Vehiculo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Vehículo no encontrado"
                    }
                }
            },
            "put": {
                "tags": [
                    "Vehículos"
                ],
                "summary": "Actualiza un vehículo",
                "operationId": "96084827a5107cad2b7ea8faa4eaf765",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VehiculoUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vehículo actualizado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Vehiculo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Vehículo no encontrado"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Vehículos"
                ],
                "summary": "Elimina un vehículo",
                "operationId": "9b11c434f19fa00c1d0b5d3fc9ca526e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Vehículo eliminado exitosamente"
                    },
                    "404": {
                        "description": "Vehículo no encontrado"
                    }
                }
            }
        },
        "/api/vehiculos/{id}/propietarios": {
            "post": {
                "tags": [
                    "Vehículos"
                ],
                "summary": "Asigna un propietario a un vehículo",
                "operationId": "28a0b7ea8bae3b79e0482be20c878d70",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "persona_id"
                                ],
                                "properties": {
                                    "persona_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Propietario asignado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Vehiculo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Vehículo o persona no encontrada"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Marca": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "nombre_marca": {
                        "type": "string",
                        "example": "Toyota"
                    },
                    "pais": {
                        "type": "string",
                        "example": "Japón"
                    }
                },
                "type": "object"
            },
            "MarcaCreate": {
                "required": [
                    "nombre_marca",
                    "pais"
                ],
                "properties": {
                    "nombre_marca": {
                        "type": "string",
                        "example": "Toyota"
                    },
                    "pais": {
                        "type": "string",
                        "example": "Japón"
                    }
                },
                "type": "object"
            },
            "MarcaUpdate": {
                "properties": {
                    "nombre_marca": {
                        "type": "string",
                        "example": "Toyota"
                    },
                    "pais": {
                        "type": "string",
                        "example": "Japón"
                    }
                },
                "type": "object"
            },
            "Persona": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "nombre": {
                        "type": "string",
                        "example": "Juan Pérez"
                    },
                    "cedula": {
                        "type": "string",
                        "example": "1234567890"
                    }
                },
                "type": "object"
            },
            "PersonaCreate": {
                "required": [
                    "nombre",
                    "cedula"
                ],
                "properties": {
                    "nombre": {
                        "type": "string",
                        "example": "Juan Pérez"
                    },
                    "cedula": {
                        "type": "string",
                        "example": "1234567890"
                    }
                },
                "type": "object"
            },
            "PersonaUpdate": {
                "properties": {
                    "nombre": {
                        "type": "string",
                        "example": "Juan Pérez"
                    },
                    "cedula": {
                        "type": "string",
                        "example": "1234567890"
                    }
                },
                "type": "object"
            },
            "Vehiculo": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "modelo": {
                        "type": "string",
                        "example": "Corolla"
                    },
                    "marca_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "numero_puertas": {
                        "type": "integer",
                        "example": 4
                    },
                    "color": {
                        "type": "string",
                        "example": "Rojo"
                    },
                    "propietarios_ids": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "example": [
                            1,
                            2
                        ]
                    }
                },
                "type": "object"
            },
            "VehiculoCreate": {
                "required": [
                    "modelo",
                    "marca_id",
                    "numero_puertas",
                    "color"
                ],
                "properties": {
                    "modelo": {
                        "type": "string",
                        "example": "Corolla"
                    },
                    "marca_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "numero_puertas": {
                        "type": "integer",
                        "example": 4
                    },
                    "color": {
                        "type": "string",
                        "example": "Rojo"
                    },
                    "propietarios_ids": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "example": [
                            1,
                            2
                        ]
                    }
                },
                "type": "object"
            },
            "VehiculoUpdate": {
                "properties": {
                    "modelo": {
                        "type": "string",
                        "example": "Corolla"
                    },
                    "marca_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "numero_puertas": {
                        "type": "integer",
                        "example": 4
                    },
                    "color": {
                        "type": "string",
                        "example": "Rojo"
                    },
                    "propietarios_ids": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "example": [
                            1,
                            2
                        ]
                    }
                },
                "type": "object"
            }
        }
    },
    "tags": [
        {
            "name": "Marcas",
            "description": "Operaciones CRUD para gestionar marcas de vehículos"
        },
        {
            "name": "Personas",
            "description": "Operaciones CRUD para gestionar personas"
        },
        {
            "name": "Vehículos",
            "description": "Operaciones CRUD para gestionar vehículos"
        }
    ]
}