version: "3.9"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: icanh_vehiculos_db
      POSTGRES_USER: icanh
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
  api:
    build: .
    environment:
      DATABASE_URL: postgresql+psycopg2://icanh:123456@db:5432/icanh_vehiculos_db
    ports:
      - "8000:8000"
    depends_on:
      - db
volumes:
  dbdata:
